body{
    padding: 10%;
    background-image: url("img/descarga.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
}

#post {
    border-style: solid;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 3%;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


  img.img1 {
    display: none;
    width: 300px;
    
    
  }
  img.img2 {
    width: 300px;    
  }


.photo {

    min-width: 100px;
    display: flex;
    justify-content: center;

}